
// body {
//     background-color: #000;
//   }
  
#landing-header {
    // z-index: 1;
    // position: absolute;
    display: flex;
    // align-items: center;
    // align-content: center;
    text-align: center;
    // padding-top: 10vh;
    height: 80vh;
  }

  .slideshow{
 list-style: none;
  }


#landing-header h1 {
    color: #fff;
  }
  
  .slideshow { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    text-align: center;
    // background-position: 2% 2%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite; 
  
  }
  
  .slideshow li:nth-child(1) { 
    background-image: url(/image/hd1.jpg) 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(/image/hd2.jpeg);
    animation-delay: 10s; 
  }
  .slideshow li:nth-child(3) { 
    background-image: url(/image/vegetables.jpg);
    animation-delay: 20s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(/image/farm.jpg);
    animation-delay: 30s; 
  }
  .slideshow li:nth-child(5) { 
    background-image: url(/image/hd4.jpg);
    animation-delay: 40s; 
  }
  
  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }
  
  /* Older browser support - class added by modernizr */
  .no-cssanimations .slideshow li {
      opacity: 1;
     
  }